/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*Like normalize*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}
.header{
    height: 95vh;/*view x heigth*/
    background-image: linear-gradient(to right bottom, rgba(199, 13, 160, 0.5), rgba(59, 77, 180, 0.5)),url("../img/hero.jpg");
    background-size: cover; /* hace que la imagen se adapte a un diseño responsive */
    background-position: top; /*la img se ajusta al responsive: top, bottom, center de acuerdo a estos valores*/
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);/*x y, x y, x y */ /*toma las coordenadas de la imagen en forma de poligono*/
    /* con clip-path: polygon se puede hacer diferentes figuras, visitar bennettfeely.com/clippy*/

}
.logo-box{
    position: absolute;
    top:40px;
    left: 40px;
}
.logo{
    height: 35px;

}
.heading-primary{
	color: #fff;
    text-transform:uppercase;
	backface-visibility: hidden; /* ¿?¿ NO entendi para que funciona*/
	margin-bottom: 60px;
}
.heading-primary-main{
	display:block;
	font-size: 60px;
	font-weight:400;
	letter-spacing:35px;
	/*** mover elementos con css*/
	animation-name: moveInLeft;
	animation-duration:1s;
	animation-timing-function: ease-in;/* ease-out :: empieza rapido y finaliza lento -- easy-in:: inicia lento y finaliza rapido -- REVISAR MAS OPCIONES*/
	/**animation-iteration-count: 3; /* se repite 3 veces la animacion*/
	/**animation-delay:1s;/* se ejecuta la animacion luego de los 1 seg*/
}
.heading-primary-sub{
	display:block;
	font-size: 20px;
	font-weight:700;
	letter-spacing:17.4px;
	animation: moveInRigth 1s ease-in;
	/*animation-duration:1s;*/
	/*animation-timing-function: ease-in;*/
}
/*centrar titulo
* hay que tener cuidado, 
*/
.text-box{
	position:absolute;
	top:50%; /* 50% sobre el objeto padre*/
	left:50%; /* 50% sobre el objeto padre*/
	transform: translate( -50%, -50%);/* centra objetos con el 50% respecto al MISMO elemento */
	text-align: center;

}

/**
* mover elementos con css
*/
@keyframes moveInLeft {
	/*start*/
	0% { 
		opacity: 0;
		transform: translateX(-100px);
	}
	
	
	80%{
		transform: translateX(10px);
	}
	 /*FIN*/
	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes moveInRigth {
	/*start*/
	0% { 
		opacity: 0;
		transform: translateX(0) rotate(0deg);
	}

	60%{
		transform:  rotate(180deg);
	}
	80%{
		/*transform: translateX(0px);*/
	}
	 /*FIN*/
	100% {
		/*opacity: 1;*/
		/*transform: translateX(100px)*/
	}
}
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/*BOTON HEADER*/
/**/
.btn:link, .btn:visited{ /*cuando da click*/
	text-transform: uppercase;
	padding: 15px 40px; /*toppx left-right*/
	text-decoration: none;
	display: inline-block;

	border-radius: 100px;
	transition: all .2s; /* cuando se activa .btn:hover  y .btn:active le da tiempo(ejecutar la ) para que no sea muy rapido*/

	position:relative; /*s2-c10*/

}
.btn:hover{
	transform: translateY(-3px);
	box-shadow: 0 10px 20px   rgba(0,0,0,.2) /* (X or 0)  (shadow) (blur)  color (r,g,b,opacity)*/;
}
.btn:active{
	transform: translateY(-1px);
	box-shadow: 0 5px 10px   rgba(0,0,0,.2) /* (X or 0)  (shadow) (blur)  color (r,g,b,opacity)*/;
}
.btn-white{
	background-color: #ffffff;
	color: #777;
}
.btn::after{ /*s2-c10*/
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;

	position: absolute;
	top: 0;
	left: 0;

	z-index: -1; /*atras del boton*/

	transition: all .4s;
}

.btn-white::after{ /*s2-c10*/
	background-color: #ffffff;
}

.btn:hover::after{/*s2-c10*/
	/*transform: scale(1.5); !*increase the element*/
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.btn-animated{
	animation: moveInBooton .5s ease-out .75s; /* animation seconds animation-timing-function  animation-delay */
	animation-fill-mode: backwards; /* al cargar la pagina no se visualiza el boton*/
}
@keyframes moveInBooton {
	/*start*/
	0% {
		opacity: 0;
		transform: translateY(30px) ;
	}
	/*FIN*/
	100% {
		opacity: 1;
		transform: translateY(0x)
	}
}