/*Like normalize, after or before don't change the behabior*/
*, *::after, *::before{
  margin:0;
  padding: 0;
  box-sizing: inherit; /*force inherit*/
}
/* this defines what 1rem is*/
html{
  /*1rem  = 10px */
  /*transform to responsive*/
  /*10px/16 = 62.5 * 100 = 62.5 */
  /*trasform responsive to px*/
  /*.625 * 16 = 10px */
  /*.625 * 20 = 12.5px */
  font-size: 62.5%;/*antes: 10px s3-c18*//* if I put 100% the root detected 16px by default*/

}
body{
  box-sizing: border-box;
}