.form{
  &__input{
    font-size: 1.5rem;
    font-family:  inherit; //define el tipo de letra que tiene toda la pagina (utilizar normalize para no escribir esto)
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba( $color-white, .5);
    border:none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .5s ;
    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-success;
    }
    &:focus:invalid{
      border-bottom: 3px solid $color-error;
    }
    &::-webkit-input-placeholder{
      color:$color-gray-dark2;
    }
  }

   &__label{
    font-size: 1.2rem;
    font-weight:700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }
  &__input:placeholder-shown + &__label{
    // es necesario esto, poque cuando este sobre placeholder la clase __label es la que se hace visible
    //cuando se ve placeholder, no se ve LABEL
    //&__input:placeholder-shown + &__label :: esto significa seleccion de hermanos, hay que tener cuidado en el orden, ya que en la misma forma que se encuentra en el html
    //se debe agregar en el css, en este caso dice que primero hay un input y luego un label (hermanos)
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); //mueve el label desde la caja de texto hasta la parte inferior
  }
  &__group:not(:last-child){
      margin-bottom: 2rem;
  }
  &__radio-group{
    width: 49%;
    display: inline-block;
  }
  &__radio-input{
    display: none;
  }
  &__radio-label{
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button{ //dibuja un radio bottom
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute; //para sobremontar objetos
    left:0;
    top:-.4rem;
    &::after{ //dibuja el circulo que se encuentra dentro del radio bottom
      content: "";
      display: block;
      height: 1.5rem; //alto del circulo interno (altura del padre)
      width: 1.5rem;
      border-radius: 50%;
      position: absolute; //para poner el checkbox justo en el centro, referente al padre
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity .2s;
    }
  }
  &__radio-input:checked + &__radio-label &__radio-button::after{
    //&__radio-input:checked cuando el radio esta seleccionado
    // se selecciona el hermano (&__radio-label) con su hijo(&__radio-button::after)
    // &__radio-button::after este componente va cambiar cuando el radio (__radio-input:checked) este seleccionado
    opacity: 1;
  }
}